<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MysqlContext" connectionString="server=thebill.synology.me;user id=admin;password=donau1;persistsecurityinfo=True;port=3307;database=test" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>